<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<link rel="stylesheet" href="/css/sign_in.css">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body style="transform: scale(0.85);">
   
    <div style=" position: absolute; left: 0; bottom: -15; ">
        <a style="text-decoration: none; font-size: 40px; color: white;" href="/"><i class="fas fa-home"></i> </a>
    </div>
    <form action="/users/add" method="GET" class="kutu">
        <div class="form-giris">
            <input type="text" name="name" value="<%= user.name%>" required>
            <label>Name <span style="font-size: 50%;">(To be displayed on certificate)</span> </label>
        </div>
        <div class="form-giris">
            <input type="email" name="email" value="<%= user.email %>" required>
            <label>Email</label>
        </div>
        <div class="form-giris">
            <input type="text" minlength="8" name="rollno" required>
            <label>Roll Number</label>
        </div>
        <div class="form-giris">
            <input type="text" name="phone" >
            <label>Phone Number</label>
        </div>
        <div class="form-giris">
            
            <input type="text" name="degree" placeholder="B.E II year CSE" >
            <label for="degree">Degree and class</label>
        </div>

        <input type="submit" class="girisbuton" value="SUBMIT">

        <div class="col s12 m6 offset-m3 center-align" >

        </div>        
  
    
    


    <!-- <div class="kayit-yazi">Already have an account? <br> <a href="/users/sign-in/">SIGN-IN <i class="fas fa-sign-in-alt"></i></a></div> -->
    </form>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

</body>