<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat"> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<style>
/* body,h1 {font-family: "Montserrat", sans-serif} */
img {margin-bottom: -7px}
.w3-row-padding img {margin-bottom: 12px}
</style>
<body>


<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->

<!-- <span class="w3-button w3-xxlarge w3-white w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></span>  -->
<div class="w3-clear"></div>
<header class="w3-center w3-margin-bottom">
  <h1><b>THANK YOU</b></h1>
  <p><b>Feedbacks from the players.</b></p>
</header>


<!-- Photo Grid -->
<div class="w3-row-padding" id="myGrid" style="margin-bottom:128px">
  <div class="w3-third">
    <img src=" /images/feedbacks/a (1).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (2).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (3).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (4).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (5).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (6).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (7).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (8).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (10).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (36).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (37).jpg" style="width:100%">
    
    <img src=" /images/feedbacks/a (31).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (32).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (33).jpg" style="width:100%">
   
   

  </div>

  <div class="w3-third">
    <!-- <img src=" /images/feedbacks/a (11).jpg" style="width:100%"> -->
    <img src=" /images/feedbacks/a (12).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (13).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (14).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (15).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (16).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (17).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (18).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (19).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (20).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (34).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (35).jpg" style="width:100%">

  </div>

  <div class="w3-third">
    <img src=" /images/feedbacks/a (9).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (21).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (22).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (23).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (24).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (25).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (26).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (27).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (28).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (29).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (30).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (38).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (39).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (40).jpg" style="width:100%">
    <img src=" /images/feedbacks/a (41).jpg" style="width:100%">
  </div>
</div>

<!-- End Page Content -->
</div>

</body>
</html>
