<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<link rel="stylesheet" href="/css/playground.css">
<link rel="stylesheet" href="/css/animsta.css">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
href="https://fonts.googleapis.com/css?family=Fredoka%20One:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext"
rel="stylesheet">

<body>
   
    <div id="home">
        <nav id="navigator">
            <ul>
                <a href="/"><li>Home</li></a>
                <a href="/users/sign-out"><li>Sign Out</li></a>
                
    
            </ul>
        </nav>
        <div>
            <h1 class="tracking-in-expand" style="color: #88024a;  ">Welcome </h1>
            <h3 class="tracking-in-expand" style="color: #6c1b80;"> <%= user.name %> </h3>  

            <button id="continue" class="text-focus-in">
                Continue
            </button>
        </div>
    </div>

    

    <div class="" id="question-container" >
        <p>C L U E</p>
        <ol id="questions" class="tracking-in-expand" >
            <li>Twice the number of hostels in our Mepco college</li>
            <li>Number of mei eluthukkal</li>
            <li>Number of oceans in the world</li>
            <li>Labours day</li>
            <!-- <li>Cost of unlimited calls pack with 200mb data for 2 days in airtel</li> -->
            <li>Number of balls in 3 overs with a wide ball</li>
            <li>Andrea pirlo jersey number</li>
            <li>Mother’s day plus  women’s day</li>
            <li>Number of biscuits in 10 rupees Oreo pack</li>
            <li>How many legs does a spider have</li>
            <li>Number of districts in kerala plus number of days in a week</li>
            <li>Diwali date of current year</li>
            <li>Children's day plus teacher's day plus sundar  c birthday month</li>
        </ol>
        
        <p id="ans">Click here to answer</p>
        <hr>
        <small style="font-family: monospace; ">Visit later for Hints</small>
        <!-- <br><br> -->
        <!-- <h1>Questions will be displayed soon</h1> -->
    </div>

    <img id="soln-bg" src="/images/think-mob.png" alt="">

    <div  id="solution" >
        <div class="img-container kenburns-right" ><img style="width: 100%;" src="/images/think.png" alt=""></div>
        <div id="soln-form" >
            <form  action="" method="post">
                <p class="tracking-in-expand">
                    <span style="color: #db095a;">Hey there,</span> <br> 
                    <span style="font-size: 110%;">Type password here</span> <br> 
                    <span style="font-size: 120%;">To Unlock Next Level</span> <br>
                    <a id="ques" style="text-decoration: none; color: inherit;" href="">
                        <span style="font-size: 40%; color: rgb(10, 10, 128);">Click here for Question <i class="fas fa-question-circle"></i> </span>
                    </a>
                </p>
                <div class="jello-horizontal" id="answer">
                    <div id="untime-one">
                        <p><i style="font-size: 40px;" class="fas fa-exclamation-triangle"></i></p>
                    <p style="padding: 1px 5px 5px; color: rgb(223, 14, 14);">You can check your answer in the time between <br> 10:00 AM to 10:00 PM</p>
                    <p>Note : You have unlimited attempts to check your answer</p>
                    </div>
                    <div id="untime-two">
                        <p><i class="fas fa-exclamation-triangle"></i></p>
                    <p style="padding: 1px 5px 5px; color: rgb(223, 14, 14);">You can check your answer in the time between <br> 10:00 AM to 10:00 PM</p>
                    <p>Note : You have unlimited attempts to check your answer</p>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <footer>
        <h1>Inno Hunt - Rules</h1>
        <div >
            <ol style="text-align: left;">
                <li>You can answer only in the time between 10:00 AM to 10:00 PM (12 hrs)</li><br>
                <li>Questions are displayed on the remaining time (i.e from 12:00 AM to 11:59 PM). </li><br>
                <li>If you failed to answer within the given time, then you can't enter into next level.</li><br>
                <li>Each level takes place on each day (except level one - 2 days)</li><br>
                <li>You can try checking your answer for unlimited number of times</li>
            </ol>
        </div>
    </footer>


    <script>

        // var navItems = document.querySelectorAll("#navigator ul a");
        var navItem = document.getElementById('continue');
        var interval;
        var endPoint = 0;

        // for(let i=0; i<navItems.length;i++) {
            navItem.addEventListener('click',function(event) {
                
                var targetId = 'solution';//this.textContent.trim().toLowerCase();
                // if (targetId == 'contact')
                //     endPoint = 200;
                // else
                endPoint = 10;
                event.preventDefault();
                var targetSection = document.getElementById(targetId);
                interval = setInterval(scrollVertically, 2, targetSection);
            });
        // }

        document.getElementById('ans').addEventListener('click',function(event) {
                
                var targetId = 'solution';//this.textContent.trim().toLowerCase();
                // if (targetId == 'contact')
                //     endPoint = 200;
                // else
                endPoint = 10;
                event.preventDefault();
                var targetSection = document.getElementById(targetId);
                interval = setInterval(scrollVertically, 2, targetSection);
            });

        function scrollVertically(targetSection) {
            var targetCoordinates = targetSection.getBoundingClientRect();
            if (targetCoordinates.top<=endPoint)
            {
                clearInterval(interval);
                return;
            }
            window.scrollBy(0,10);
        }



        // question-container


        var interval_q;
        var endPoint_q = 0;
        
        document.getElementById('ques').addEventListener('click',function(event) {
            endPoint_q = 10;
            event.preventDefault();
            var targetSection_q = document.getElementById('question-container');
            interval_q = setInterval(scrollVertically_q, 2, targetSection_q);
        });

        function scrollVertically_q(targetSection_q) {
            var targetCoordinates_q = targetSection_q.getBoundingClientRect();
            if (targetCoordinates_q.top>endPoint_q)
            {
                clearInterval(interval_q);
                return;
            }
            window.scrollBy(0,-10);
        }


    </script>
  

</body>
<!-- 
<div class="backdrop">
    <p class="text multiply">Taitō</p>
</div>
<div class="backdrop">
    <p class="text screen">Taitō</p>
</div>
<div class="backdrop">
    <p class="text darken">Taitō</p>
</div>
<div class="backdrop">
    <p class="text lighten">Taitō</p>
</div> -->