<link rel="stylesheet" href="/css/playground.css">

<link rel="stylesheet" type="text/css" href="/css/effeckt.css">

<!-- Web-Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Fredoka%20One:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext"
rel="stylesheet">
<body>
    <!-- <div>
        <p> <%= user.name %> ,  <%= user %></p>
        <h1 class="text" style="color: rgb(255, 255, 0); margin-bottom: -100vh;">Welcome Back! <br>
             <small> <%= user.name %> </small> </h1>
        
    </div> -->
    <div id="home">
        <div style=" font: bolder 3vw ''; font-family: Fredoka One; padding: 3vw; padding-top: 28vh;">
        <h1 style="color: #88024a;  ">Welcome back</h1>
        <h3 style="color: #6c1b80;"> <%= user.name%> </h3>  
        <button style="font-family: inherit;  width: 150px; border: 0; padding: 15px; margin: 20px 0; border-radius: 20px; font-size: 20px; color: white; background: linear-gradient(-45deg, #fb7c55, #e41967);">continue</button>
        <!-- <img style="width: 300px; margin: -30px;" src="/images/innohunt.png" alt=""> -->
        
        </div>
    </div>
    <div  class="backdrop">
        <div >
        <p class="text lighten">“Do you know what my favorite part of the game is? <br> The opportunity to play.” <br> <br> -Mike Singletary</p>
        </div>
        <!-- <img src="/images/pluto-done.png" alt=""> -->
    </div>
    <!-- <img style="width: 100%;" src="/images/photo-of-people-having-meeting-3183186.jpg" alt=""> -->

    <div  id="solution" >
        <img id="soln-bg" src="/images/think-mob.png" alt="">
        <form action="" method="post">
            <p>Hey there, <br> Type password here <br> To <span style="font-size: 120%;"> Unlock Next Level</span></p>
            <div id="answer">
            <input style="font-family: inherit;  width: 350px; border: 0; padding: 15px; margin: 20px 0; border-radius: 20px; font-size: 20px; color: white; background: linear-gradient(-45deg, #f3f646, #ff9a27);" placeholder="Type here" type="text"> 
            <button style="font-family: inherit;  width: 150px; border: 0; padding: 15px; margin: 20px 0; border-radius: 20px; font-size: 20px; color: white; background: linear-gradient(-45deg, #fb7c55, #e41967);" type="submit">submit</button>
            </div>
        </form>
        <!-- <img src="/images/pluto-done.png" alt=""> -->
    </div>

    <!-- <div id="one" style="background-image: url(/images/analogue-art-box-chest-366791.jpg);">
    <h1 class="text" style="font-family: cursive; text-align: right; margin-right: 5vw; color: #f2d362;">Treasure <br> Hunt</h1>
    </div> -->


    <!-- <div class="backdrop">
        <p class="text lighten">This is working</p>
    </div> -->

    <!-- <div id="two" style="background-image: url(/images/man-in-brown-suit-standing-beside-woman-wearing-black-coat-3775592.jpg);">
        <h1 class="text" style="text-align: center;">Hello</h1>
    </div> -->


    <!-- jQuery handle all the events and DOM manipulation -->
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <!-- Core or Global stuff, mainly to know if we need a click or touch event -->
    <script type="text/javascript" src="/js/core.js"></script>
    <!-- This object helps to control the modals, it's kind of optional, kind of -->
    <script type="text/javascript" src="/js/modal.js"></script>

</body>
<!-- 
<div class="backdrop">
    <p class="text multiply">Taitō</p>
</div>
<div class="backdrop">
    <p class="text screen">Taitō</p>
</div>
<div class="backdrop">
    <p class="text darken">Taitō</p>
</div>
<div class="backdrop">
    <p class="text lighten">Taitō</p>
</div> -->