<link rel="stylesheet" href="/css/playground.css">
<body>
    <div>
        <p> <%= user.name %> ,  <%= user %></p>
        <h1 class="text" style="color: rgb(255, 255, 0); margin-bottom: -100vh;">Welcome Back! <br>
             <small> <%= user.name %> </small> </h1>
        <!-- <h6>Priya Sreethi</h6> -->
    </div>
    <div  class="backdrop">
        <p class="text screen">PRIYA</p>
        <img src="/images/pluto-done.png" alt="">
    </div>
    <!-- <img style="width: 100%;" src="/images/photo-of-people-having-meeting-3183186.jpg" alt=""> -->
    <div id="one" style="background-image: url(/images/analogue-art-box-chest-366791.jpg);">
    <h1 class="text" style="font-family: cursive; text-align: right; margin-right: 5vw; color: #f2d362;">Treasure <br> Hunt</h1>
    </div>
    <div class="backdrop">
        <p class="text lighten">SREETHI</p>
    </div>
    <!-- <div id="two" style="background-image: url(/images/man-in-brown-suit-standing-beside-woman-wearing-black-coat-3775592.jpg);">
        <h1 class="text" style="text-align: center;">Hello</h1>
    </div> -->

</body>
<!-- 
<div class="backdrop">
    <p class="text multiply">Taitō</p>
</div>
<div class="backdrop">
    <p class="text screen">Taitō</p>
</div>
<div class="backdrop">
    <p class="text darken">Taitō</p>
</div>
<div class="backdrop">
    <p class="text lighten">Taitō</p>
</div> -->