<link rel="stylesheet" href="/css/playground.css">
<link rel="stylesheet" href="/css/animsta.css">

<link rel="stylesheet" type="text/css" href="/css/effeckt.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Web-Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Fredoka%20One:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext"
rel="stylesheet">
<body>
    <!-- <div>
        <p> <%= user.name %> ,  <%= user %></p>
        <h1 class="text" style="color: rgb(255, 255, 0); margin-bottom: -100vh;">Welcome Back! <br>
             <small> <%= user.name %> </small> </h1>
        
    </div> -->
    <div id="home">
        <div style=" font: bolder 4vw ''; font-family: Fredoka One; padding: 3vw; padding-top: 28vh;">
        <h1 class="tracking-in-expand" style="color: #88024a;  ">Welcome </h1>
        <h3 class="tracking-in-expand" style="color: #6c1b80;"> <%= user.name%> </h3>  
        <button class="text-focus-in" style="font-family: inherit;  width: 150px; border: 0; padding: 15px; margin: 20px 0; border-radius: 20px; font-size: 20px; color: white; background: linear-gradient(-45deg, #fb7c55, #e41967);">continue</button>
        
        </div>
    </div>

    <div class="unselectable" id="question-container" >
        <p>C L U E</p>
        <ol id="questions" class="tracking-in-expand" >
            <li>Twice the number of hostels in our Mepco college</li>
            <li>Number of mei eluthukkal</li>
            <li>Cost of vadai in our college</li>
            <li>Blood donation camp date</li>
            <li>Cost of unlimited calls pack with 200mb data for 2 days in airtel</li>
            <li>Andrea pirlow jersey number</li>
            <li>Mother’s day plus  women’s day</li>
            <li>Number of biscuits in oreo 10rs pack</li>
            <li>How many legs does a spider have</li>
            <li>Number of districts in kerala plus number of days in a week</li>
            <li>Diwali date of current year</li>
            <li>Children's day plus teacher's day plus sundar  c birthday month</li>
        </ol>
        <br>
        <small style="font-family: monospace; ">H I N T : Alphabets</small>
        <!-- <br><br> -->
        <!-- <h1>Questions will be displayed soon</h1> -->
    </div>

    <img id="soln-bg" src="/images/think-mob.png" alt="">

    <div  id="solution" >
        <div class="img-container kenburns-right"></div>
        <div id="soln-form">
            <form  action="/playground/check" method="post">
                <p class="tracking-in-expand">Hey there, <br> Type password here <br>  <span style="font-size: 120%;">To Unlock Next Level</span></p>
                <div class="jello-horizontal" id="answer">
                <input style="font-family: inherit;  width: 250px; border: 0; padding: 15px; margin: 20px 0; border-radius: 20px; font-size: 20px; color: white; background: linear-gradient(-45deg, #f3f646, #ff9a27);" name="password" placeholder="Type here" type="text"> 
                <button class=" focus-in-contract-bck" style="font-family: inherit;  width: 150px; border: 0; padding: 15px; margin: 20px 0; border-radius: 20px; font-size: 20px; color: white; background: linear-gradient(-45deg, #fb7c55, #e41967);" type="submit">submit</button>
                </div>
            </form>
        </div>
    </div>


  

</body>
<!-- 
<div class="backdrop">
    <p class="text multiply">Taitō</p>
</div>
<div class="backdrop">
    <p class="text screen">Taitō</p>
</div>
<div class="backdrop">
    <p class="text darken">Taitō</p>
</div>
<div class="backdrop">
    <p class="text lighten">Taitō</p>
</div> -->