<link rel="stylesheet" href="/css/playground.css">
<body>
  
    <div style="background-image: url(/images/analogue-art-box-chest-366791.jpg); background-size: cover;">

    <h1 class="text" style="font-family: cursive; text-align: right; margin-right: 5vw; color: #f2d362;">
        Thanks for participating
    </h1>

    </div>
  
</body>
