<link rel="stylesheet" href="/css/playground.css">

<link rel="stylesheet" type="text/css" href="/css/effeckt.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Web-Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Fredoka%20One:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext"
rel="stylesheet">
<body>
    <!-- <div>
        <p> <%= user.name %> ,  <%= user %></p>
        <h1 class="text" style="color: rgb(255, 255, 0); margin-bottom: -100vh;">Welcome Back! <br>
             <small> <%= user.name %> </small> </h1>
        
    </div> -->
    <div id="home">
        <div style=" font: bolder 3vw ''; font-family: Fredoka One; padding: 3vw; padding-top: 28vh;">
        <h1 style="color: #88024a;  ">Welcome back</h1>
        <h3 style="color: #6c1b80;"> <%= user.name%> </h3>  
        <button style="font-family: inherit;  width: 150px; border: 0; padding: 15px; margin: 20px 0; border-radius: 20px; font-size: 20px; color: white; background: linear-gradient(-45deg, #fb7c55, #e41967);">continue</button>
        <!-- <img style="width: 300px; margin: -30px;" src="/images/innohunt.png" alt=""> -->
        
        </div>
    </div>
    <div  class="backdrop">
        <div >
        <p class="text lighten">“Do you know what my favorite part of the game is? <br> The opportunity to play.” <br> <br> -Mike Singletary</p>
        </div>
        <!-- <img src="/images/pluto-done.png" alt=""> -->
    </div>
    <!-- <img style="width: 100%;" src="/images/photo-of-people-having-meeting-3183186.jpg" alt=""> -->


<!-- 
    <section class="effeckt-list-scroll">
        <div class="effeckt effeckt-list-scroll group">
            <ul class="effeckt-list-scroll" data-effeckt-type="twist">
                <li class="past">One</li><li class="past">Two</li><li class="past">Three</li><li class="past">Four</li><li class="past">Five</li><li class="past">Six</li><li class="past">Seven</li><li class="past">Eight</li><li class="past">Nine</li><li class="past">Ten</li>
                <li>Eleven</li><li>Twelve</li><li class="">Thirteen</li><li class="">Fourteen</li><li class="">Fifteen</li><li class="">Sixteen</li><li class="">Seventeen</li>
                <li class="">Eighteen</li><li class="">Nineteen</li><li class="">Twenty</li><li class="">Twentyone</li><li class="">Twentytwo</li><li class="future">Twentythree</li><li class="future">Twentyfour</li><li class="future">Twentyfive</li><li class="future">Twentysix</li><li class="future">Twentyseven</li><li class="future">Twentyeight</li><li class="future">Twentynine</li><li class="future">Thirty</li><li class="future">Thirtyone</li><li class="future">Thirtytwo</li><li class="future">Thirtythree</li><li class="future">Thirtyfour</li><li class="future">Thirtyfive</li>
                <li class="future">Thirtysix</li><li class="future">Thirtyseven</li><li class="future">Thirtyeight</li><li class="future">Thirtynine</li><li class="future">Forty</li><li class="future">Fortyone</li><li class="future">Fortytwo</li><li class="future">Fortythree</li><li class="future">Fortyfour</li><li class="future">Fortyfive</li><li class="future">Fortysix</li><li class="future">Fortyseven</li><li class="future">Fortyeight</li><li class="future">Fortynine</li><li class="future">Fifty</li><li class="future">Fiftyone</li><li class="future">Fiftytwo</li><li class="future">Fiftythree</li><li class="future">Fiftyfour</li><li class="future">Fiftyfive</li><li class="future">Fiftysix</li><li class="future">Fiftyseven</li><li class="future">Fiftyeight</li><li class="future">Fiftynine</li><li class="future">Sixty</li><li class="future">Sixtyone</li><li class="future">Sixtytwo</li><li class="future">Sixtythree</li>
                <li class="future">Sixtyfour</li><li class="future">Sixtyfive</li><li class="future">Sixtysix</li><li class="future">Sixtyseven</li><li class="future">Sixtyeight</li><li class="future">Sixtynine</li><li class="future">Seventy</li><li class="future">Seventyone</li><li class="future">Seventytwo</li><li class="future">Seventythree</li><li class="future">Seventyfour</li><li class="future">Seventyfive</li><li class="future">Seventysix</li><li class="future">Seventyseven</li>
                <li class="future">Seventyeight</li><li class="future">Seventynine</li><li class="future">Eighty</li><li class="future">Eightyone</li><li class="future">Eightytwo</li><li class="future">Eightythree</li><li class="future">Eightyfour</li><li class="future">Eightyfive</li><li class="future">Eightysix</li><li class="future">Eightyseven</li><li class="future">Eightyeight</li><li class="future">Eightynine</li><li class="future">Ninety</li><li class="future">Ninetyone</li><li class="future">Ninetytwo</li><li class="future">Ninetythree</li><li class="future">Ninetyfour</li>
                <li class="future">Ninetyfive</li><li class="future">Ninetysix</li><li class="future">Ninetyseven</li><li class="future">Ninetyeight</li><li class="future">Ninetynine</li>
            </ul>

        </div>
    </section>
 -->

    <div  id="solution" >
        <img id="soln-bg" src="/images/think-mob.png" alt="">
        <form action="" method="post">
            <p>Hey there, <br> Type password here <br> To <span style="font-size: 120%;"> Unlock Next Level</span></p>
            <div id="answer">
            <input style="font-family: inherit;  width: 250px; border: 0; padding: 15px; margin: 20px 0; border-radius: 20px; font-size: 20px; color: white; background: linear-gradient(-45deg, #f3f646, #ff9a27);" placeholder="Type here" type="text"> 
            <button style="font-family: inherit;  width: 150px; border: 0; padding: 15px; margin: 20px 0; border-radius: 20px; font-size: 20px; color: white; background: linear-gradient(-45deg, #fb7c55, #e41967);" type="submit">submit</button>
            </div>
        </form>
        <!-- <img src="/images/pluto-done.png" alt=""> -->
    </div>

    <!-- <div id="one" style="background-image: url(/images/analogue-art-box-chest-366791.jpg);">
    <h1 class="text" style="font-family: cursive; text-align: right; margin-right: 5vw; color: #f2d362;">Treasure <br> Hunt</h1>
    </div> -->


    <!-- <div class="backdrop">
        <p class="text lighten">This is working</p>
    </div> -->

    <!-- <div id="two" style="background-image: url(/images/man-in-brown-suit-standing-beside-woman-wearing-black-coat-3775592.jpg);">
        <h1 class="text" style="text-align: center;">Hello</h1>
    </div> -->


    <!-- jQuery handle all the events and DOM manipulation -->
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <!-- Core or Global stuff, mainly to know if we need a click or touch event -->
    <script type="text/javascript" src="/js/core.js"></script>
    <!-- This object helps to control the modals, it's kind of optional, kind of -->
    <script type="text/javascript" src="/js/modal.js"></script>
    <script type="text/javascript" src="/js/list-scroll.js"></script>


</body>
<!-- 
<div class="backdrop">
    <p class="text multiply">Taitō</p>
</div>
<div class="backdrop">
    <p class="text screen">Taitō</p>
</div>
<div class="backdrop">
    <p class="text darken">Taitō</p>
</div>
<div class="backdrop">
    <p class="text lighten">Taitō</p>
</div> -->