<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<link rel="stylesheet" href="/css/sign_in.css">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body style="transform: scale(0.85);">
   
    <div style=" position: absolute; left: 0; bottom: -15; ">
        <a style="text-decoration: none; font-size: 40px; color: white;" href="/"><i class="fas fa-home"></i> </a>
    </div>
    <form action="/users/create" method="POST" class="kutu">
        <div class="form-giris">
            <input type="text" name="name" required>
            <label>Name</label>
        </div>
        <div class="form-giris">
        <input type="email" name="email" required>
        <label>Email</label>
        </div>
        <div class="form-giris">
        <input type="password" name="password" required>
        <label>Password</label>
        </div>
        <div class="form-giris">
            <input type="password" name="confirm_password" required>
            <label>Confirm Password</label>
        </div>
    <input type="submit" class="girisbuton" value="CREATE ACCOUNT">
    
    <div class="col s12 m6 offset-m3 center-align" >
        <a class="oauth-container btn darken-4 white black-text login-google" href="/users/auth/google" >
            <div class="left">
                <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in" 
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
            </div>
            Sign-Up with Google
        </a>
    </div>        
  
    
    


    <div class="kayit-yazi">Already have an account? <br> <a href="/users/sign-in/">SIGN-IN <i class="fas fa-sign-in-alt"></i></a></div>
    </form>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

</body>