/* html {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-image: linear-gradient(to right bottom, #ffd300, #fad400, #f5d600, #efd700, #ead800, #ded700, #d3d700, #c7d600, #b1d300, #9bd000, #83cc00, #68c800);   
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 4%;
    align-items: center;
    background-color: #ffffff;
} */

body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
::-webkit-scrollbar{
    display: none;
}

#status {
    display: block;
    background-color: rgb(255, 217, 0);
    height: 10px;
    position: fixed;
    margin-top: -12px;
    z-index: 2;
    width: 0vw;
}
.join-button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.button {
    background-color: red;
    color: white;
	float: left;
	min-width: 200px;
    max-width: 300px;
	display: block;
	margin: 1em;
	padding: 1em 2em;
    border: none;
    border-radius: 40px;
    animation-name: color-change;
    animation-duration: 8s;
    animation-delay: 1s;
    animation-play-state: running;
    animation-iteration-count: infinite;
	vertical-align: middle;
	position: relative;
	/* z-index: 1; */
	/* -webkit-backface-visibility: hidden; */
	/* -moz-osx-font-smoothing: grayscale; */
 }

#logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#logo {
    width: 100%;
    max-width: 600px;
    border: none;
}
 @keyframes color-change {
    0%   {background-color: #FD0000; }
    25%  {background-color:rgb(255, 187, 0);}
    50%  {background-color:#FF0000; }
    75%  {background-color:rgb(255, 187, 0);}
    100% {background-color: #FD0000; }
  }
/* .button:focus { 
	outline: none;
}
.button--pipaluk {
	width: 240px;
	padding: 1.5em 3em;
	
}
.button--pipaluk.button--inverted::before {
	border-color: rgb(141, 0, 0);
}
.button--pipaluk::after {
	background: #002aff;
}
.button--pipaluk.button--inverted::after {
	background: rgb(185, 0, 0);
}
.button--pipaluk:hover::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}
.button--pipaluk::before,
.button--pipaluk:hover::after {
	-webkit-transform: scale3d(0.7, 0.7, 1);
	transform: scale3d(0.7, 0.7, 1);
}
.button--pipaluk:hover::after {
	background-color: #0026ff;
}
.button--pipaluk.button--inverted:hover::after {
	background-color: rgb(250, 66, 66);
} */



@media (min-width:768px){
    #status{
        display:none;
        position: relative;
    }
}
