<div style="width: 500px; background-color: black; color: white; text-align: center;">
    <p>Hi, <%= user.name%></p>
    <br>
    <p>Your registration for the online treasure hunt is successful</p>
</div>